<button (click)="goBack()">Back</button>
<!-- Details -->
<div class="pokemon-container">
    <img [src]="getImageUri()" alt="pokemon" class="pokemon-image"/>
    <div>
        <p>Name: {{pokemonDetail?.name}}</p>
        <p>Height: {{pokemonDetail?.height}}</p>
        <p>Weight: {{pokemonDetail?.weight}}</p>

        <div class="pokemon-type">
            <div class="type-color" 
                 *ngFor="let type of pokemonDetail?.types"
                 [ngStyle]="{'background-color': getColorByType(type.type.name)}">
                <p>{{ type.type.name }}</p>
            </div>            
        </div>        
    </div>        
    <div>
        <ngx-charts-bar-vertical 
            [view]="[600,400]"
            [results]="getStats()"
            [xAxisLabel]="'Name Stat'"
            [legendTitle]="'Pokemon Stats'"
            [yAxisLabel]="'Base Stat'"
            [legend]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxis]="true"
            [yAxis]="true"
            [gradient]="true">
        </ngx-charts-bar-vertical>
    </div>
</div>
<p></p>
<div>
    <span>Enter Language</span>
    <input [(ngModel)]="language" (ngModelChange)="refreshDescriptions()" type="text"/>
</div>
<!-- Species -->
<div  *ngIf="!!pokemonSpecies">
    <p>Pokemon Name by Language: {{getNameByLanguage(pokemonSpecies?.names)}}</p>
    <div class="game-description" *ngFor="let description of gameDescriptions">
        <img [src]="getGameImage(description.version.name)" alt="">
        <p>{{ description.flavor_text }}</p>
    </div>
</div>

