<div class="mat-drawer-container">
    <div>
        <span>Search</span>
        <input type="text" [(ngModel)]="search" (ngModelChange)="searchPokemon()">
        
    </div>       
    <div>
        <button 
            *ngIf="pokemons.length"
            (click)="nextPokemons()">
            Next
        </button>
    </div>
    
    <div>
        <!-- <pokemon-generation
            [games]="generations"
            (refreshPokemons)="displayByGeneration($event)"
        >
    </pokemon-generation> -->
    <button (click)="addPokemon()"> Add Pokemon</button>
    </div>

    <div class="pokemons">        
        <pokemon-card
            *ngFor="let pokemon of pokemons"
            [pokemon]="pokemon">
        </pokemon-card>
    </div>
    
    <!-- <not-found *ngIf="!pokemons.length"></not-found> -->

</div>