<div>
    <div>
        <span>Search</span>
        <input type="text" [(ngModel)]="search" (ngModelChange)="searchPokemon()">
        <button *ngIf="pokemons.length" (click)="nextPokemons()">
            Next
        </button>
    </div>
    <div class="pokemons">
        <div class="itemPokemon" 
            [ngStyle]="{'background-color': getPokemonColor(pokemon)}"
            *ngFor="let pokemon of pokemons"
            (click)="goToPokemonDetails(pokemon)">
            <img [src]="getImageUri(pokemon)" [alt]="pokemon.name">
            <p [ngStyle]="{'color': getTextColor(pokemon)}"> 
                {{pokemon.name | titlecase}}</p>
        </div>
    </div>
    <!-- <not-found></not-found> -->    
</div>