<!-- <form [formGroup]="profileForm" (ngSubmit)="onSubmit()"> -->
<form>
<h2>Basic Information</h2>
    <!-- <div>
        <mat-form-field>
            <mat-label>Both a label and a placeholder</mat-label>
            <input matInput placeholder="Simple placeholder">
        </mat-form-field>
        <mat-form-field>
            <mat-label for="name">Name</mat-label>
            <input id="name" type="text" formControlName="name" matInput>
        </mat-form-field>
    </div> -->

    <!-- <div [formGroupName]="address">
        <h2>Address</h2>
        <div>
            <mat-form-field appearance="fill">
            <mat-label for="street">Street</mat-label>
            <input id="street" type="text" formControlName="street" matInput>
            </mat-form-field>    
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label fcor="city">City</mat-label>
                <input id="city" type="text" formControlName="city" matInput>
            </mat-form-field>
        </div>
        <div>
        <mat-form-field appearance="fill">
            <mat-label for="state">State</mat-label>
            <input id="state" type="text" formControlName="state" matInput>
        </mat-form-field>
        </div>
        <div>
        <mat-form-field appearance="fill">
            <mat-label for="zip">Zip</mat-label>
            <input id="zip" type="text" formControlName="zip" matInput>
        </mat-form-field>
        </div>
    
        <div formArrayName="types">
            <button mat-raised-button 
                color="primary" 
                type="button"
                (click)="addType()">+ Add Another Type
            </button>
        </div>
    </div>
    <div *ngFor="type of types.controls; let i=index">
        <mat-form-field appearance="fill">
            <mat-label for="type">Type</mat-label>
            <input id="type-{{i}}" type="text" formControlName="type" matInput>
        </mat-form-field>
    </div> -->

    <button mat-raised-button type="submit">Submit</button>
</form>
